<main class="main">
    <div class="container">
        <%- partial('common/main-title') %>
        <% if(page.banner) { %>
            <div class="main__image main__image_width-100">
                <img class="main-image" src="<%= page.banner %>" alt="<%= page.title %>">
            </div>
        <% } %>
        <div class="main__content main__content_width-100">
            <div class="content">
                <%=page.description %>
            </div>
        </div>
        
        <% if(page.comments == true) { %>
            <div class="main__comments">
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = '<%= page.permalink %>';  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = '<%= page.path %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://https-artmusicpro-ru.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        <% } %>
    </div>
</main>