<!DOCTYPE html>
<html lang="ru">
<%- partial('common/head') %>
<body>
  <%- partial('common/header') %>
  <%- partial('common/breadcrumb') %>

  <%- body %>

  <%- partial('common/form') %>
  <%- partial('common/contacts') %>
  <%- partial('common/map') %>
  <%- partial('common/footer') %>
  <%- partial('common/modals') %>
  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
  <script src="//yastatic.net/share2/share.js"></script>
  <script async src="/assets/js/commons.js"></script>

</body>

</html>
