<%
// Фильтр постов текущей категории
function filterByTypePost(obj) {
  if (obj.categoryId == page.id) {
    return true;
  } else {
    return false;
  }
}
var postsList = site.posts.filter(filterByTypePost);
%>

<main class="main">
    <div class="container">
        <%- partial('common/main-title') %>
        <div class="main__content main__content_width-100">
            <div class="content">
                <%- markdown(page.content) %>
                <ul class="posts-list">
                    <% postsList.each(function (post, i) { %>
                        <li class="posts-list-item">
                            <a href="<%= post.path %>" class="posts-list-item__link"><%= post.name %></a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <div class="main__comments">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = '<%= page.permalink %>';  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = '<%= page.path %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://https-artmusicpro-ru.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>
</main>